body{
  background-color: black;
}

.board{
  display: flex;
  width: 390px;
  flex-direction: row;
  align-items:flex-start;
  background-color: rgb(127, 127, 127);
}

.cell{
  height: 50px;
  width: 50px;
  border:1px solid white;
}

.column{
 border: 2px red solid;
}

.button{
  height: 50px;
  width: 50px;
  border: solid blue 1px
}