body{
  background-color: black;
}

.board{
  display: flex;
  width: 390px;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  
}

.cell{
  height: 60px;
  width: 60px;
  border:1px solid white;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center
  ;
  align-items: center;
  
}

.column{

background-color: rgba(240, 248, 255, 0.076);
 
}

.button{
  height: 60px;
  width: 60px;
  border: white 1px solid
}

.empty-cell{
  position: absolute;
  color: rgba(240, 255, 255, 0.075);
  background-color: rgba(255, 255, 255, 0.077)
}

.red-circle{
  background-color: red;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  position: absolute;
}

.blue-circle{
  background-color: blue;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  position: absolute;
}

